/*#region Phần Header */

header {
    background-image: url('../images/Image-BG_01.png');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    padding-bottom: 58px;

}

.sticky-bar {
/*position:fixed;
top:0;
display:block;
z-index:999;*/
}

    header .bg-main {
        background-color: #333333;
        height: 102px;
        opacity: 0.9;


    }

/*lần 2*/

/*header .bg-main {
        background-image: url('../images/Image-BG_01.png');
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    }

    header #bg-up {
        background-color: #333333;
        height: 102px;
        opacity: 0.9;
    }*/
/*hết hình nền*/

/*Bắt đầu xử lý phần bên trái*/

.wrapper-logo {
    display: flex;
    align-items: center;
    margin-left: 15%; /*push wrapper-logo*/
    line-height: 102px;
}

    .wrapper-logo > li {
        /*float: left;*/
        padding-right: 10px;
    }

    .wrapper-logo .box-3 ul {
        line-height: 20px;
    }

    .wrapper-logo .box-1 img {
        width: 60px;
    }

    .wrapper-logo .box-2 h1 {
        font-size: 21px;
        font-weight: 600;
    }

    .wrapper-logo .box-3 a {
        font-size: 14px;
        font-weight: 600;
    }

/*Kết thúc xử lý phần bên trái*/


/*Bắt đầu xử lý phần bên phải*/



.call-to-action {
    position: relative;
}


.wrapper-cta {
    display: flex;
    align-items: center;
    float: right;
    line-height: 102px;
    margin-right: 15%; /*đẩy khối*/
}

    .wrapper-cta::after {
        /*content: "";
        position: absolute;
        background-color: #d94e09;
        width: 361px;
        height: 77px;

        border-radius: 15px;
        z-index: -99;*/
    }

.call-to-action .cta-text {
    display: inline;
}


    .call-to-action .cta-text a {
        color: #fff;
        font-size: 1.5vw;
        font-weight: 900;
        /*padding-left: 30px;*/
        white-space: nowrap;
        letter-spacing: 2px;
        display: inline;
        background-color: #d94e09;
        padding: 1.5vw 2vw;
        border-radius: 15px;
    }

    .call-to-action .cta-text span {
        margin-left: 10px;
    }

        .call-to-action .cta-text span img {
            width: 10px;
        }


.call-to-action .cta-caret img {
    /*width: 10px;
        height: auto;
        margin-left: 35px;
    }


.wrapper-cta > li {
    float: left;
    /*padding-left: 10px;*/
}

/*.call-to-action {
    background-color: #ff6a00;
}*/

.bg-orange {
    /*background-color:#ff6a00;
    display:inline-block;
    padding:20px 10px;
    line-height:102px;*/
}



/*Kết thúc xử lý phần bên phải*/



/*#endregion */

/*#region Phần dưới Header */

#bg-down {
    /*margin-bottom: 173px;
    padding-left: 133px;*/
}

.bg-down-main {
    padding-left: 8.5%; /*đẩy khối*/
}

#bg-down .title {
    padding-bottom: 19px;
    padding-top: 75px;
}

    #bg-down .title span {
        /*display: flex;*/
        white-space: pre-line;
        /*align-items: flex-end;*/
        /*line-height: 30px;*/
        white-space: nowrap;
    }

        #bg-down .title span:first-child {
            font-size: 4vw;
            font-weight: bold;
            color: #333333;
            text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
        }

        #bg-down .title span:last-child {
            font-size: 2.8vw;
            font-weight: bold;
            /*color: #333333;
                text-shadow: 0px 1px, 1px 0px, 1px 1px;*/
            letter-spacing: 0px;
            color: #333333;
            text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
        }


/*credit-card*/
#bg-down .credit-card {
    width: 370px;
    height: auto;
}


/*create-circle-content*/

#bg-down .static-overplay {
    overflow: visible;
}

#bg-down .overplay {
    position: absolute;
    top: 96px;
    left: 213px;
}


/*create-circle-content-new*/


/*create-circle-content-chinh-thuc*/

/*.circle-multiline {
    display: table-cell;
    height: 220px;
    width: 220px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    background: white;
    border: 5px solid #cb520b;
    padding: 0 10px;
}*/

/*Lần 2 với display:grid*/
.circle-multiline {
    height: 220px;
    width: 220px;
    /*display: grid;
    text-align: center;
    align-content: center;*/
    border-radius: 50%;
    background: white;
    border: 5px solid #d94e09;
    padding: 0 10px;

    /*value run IE*/
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
    .circle-multiline .logo-and-name {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px
    }

    .circle-multiline img {
        width: 46px;
    }

    .circle-multiline span {
        font-size: 15px;
        font-weight: 900;
    }

    .circle-multiline .text-multiline {
        font-size: 16px;
        font-weight: 900;
    }

.tat-ca {
}



/*resize*/

/*.circle-wrapper .circle-content {
    display: table-cell;
}


@media (min-width: 320px) {
    .circle-wrapper .circle-content {
        font-size: 2em;
    }
}

@media (min-width: 768px) {
    .circle-wrapper .circle-content {
        font-size: 4em;
    }
}*/


/*call-to-action-center*/

/*.abc {
    position:relative;
}
.center {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: -214px;
}

.center {
    margin: auto;
    width: 43%;
    padding: 10px;
    background-color: #d94e09;
    border-radius: 15px;
}
    .center > div {
        display: flex;
        align-items: center;
        padding: 0 40px;
        justify-content: center;
    }

    .center .circle-border {
        display: table;
    }

    .center .circle-cta-2 {
        background-color: #fff;
        border: 5px solid #d94e09;
        border-radius: 50px;
        box-shadow: 0 0 0 3px #fff;
        height: 90px;
        width: 90px;
        display: table-cell;
        justify-content: center;
        text-align: center;
        vertical-align: middle;
        color: #333333;
        font-size: 30px;
        font-weight: 900;
    }
    .center .cta-2 a {
        color: #fff;
        font-size: 40px;
        letter-spacing: -4px;
        font-weight: 900;
        padding: 0 20px;
        white-space: nowrap;
    }

    .center .caret-cta-2 img {
        width: 15px;
    }*/

/*lần 2*/
.wraper-center{

}
.center {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    /*width: 50%;*/
    top: 124px;
}

.center {
    /*margin: auto;
    width: 43%;*/
    /*padding: 10px;
    background-color: #d94e09;
    border-radius: 15px;*/
    /*margin-top: 86px;
    margin-left: 10px;*/

    /*thêm moi*/
    /*margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 44%;
    height: 34%;*/
}

wrapper-cta-2{


}

.center > div {
    display: flex;
    align-items: center;
    padding: 0 40px;
    padding: 10px 40px;
    background-color: #d94e09;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 42%;
    justify-content: space-around;
}

/*.center .circle-cta-2 {
    background-color: #fff;
    border: 5px solid #d94e09;
    border-radius: 50px;
    box-shadow: 0 0 0 3px #fff;
    width: 90px;
    height: 90px;
}*/

    /*.center .circle-border {
        position: relative;
    }

        .center .circle-border .free-text {
            position: absolute;
            top: 20px;
            left: 14px;
            color: #000000;
            font-size: 30px;
            font-weight: 900;
        }*/

.center .circle-cta-2 {
    width: 90px;
    height: 90px;
    background-color: #fff;
    border: 5px solid #d94e09;
    border-radius: 50%;
    box-shadow: 0 0 0 3px #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333333;
    font-size: 30px;
    font-weight: 900;
}

/*thử lại*/



.center .cta-2 a {
    color: #fff;
    font-size: 2.2vw;
    letter-spacing: -4px;
    font-weight: 900;
    padding: 0 20px;
    white-space: nowrap;
}

    .center .caret-cta-2 img {
        width: 15px;
    }



/*#endregion */


/*#region Main */

main {
    margin-bottom: 1000px;
}

    main .align-article {
        margin-left: -34px;
        margin-right: -34px;
        margin-bottom: 30px;
        /*border-bottom: 1px solid #808080;*/
    }


    main .separator-2 {
        margin-bottom: 30px;
        border-top: 1px solid #808080;
        display: block;
        /*position:relative;
        bottom:0px;*/
        /*padding-right: 0px;
         padding-left: 0px;*/
    }

.separator {
    margin-top: 181px;
    margin-left: 15px;
    margin-right: 15px;
}

    .separator .post-title h2 {
        font-size: 37px;
        font-weight: 900;
        margin-bottom: 20px;
    }

    .separator .separator-line {
        display: block;
        background: #333333;
        height: 3px;
    }


    .separator .circle-about {
        height: 90px;
        width: 90px;
        background-color: #333333;
        border-radius: 50%;
        margin-top: -45px;
        float: right;
        color: #fff;
        display: flex;
        justify-content: center; /*căn giữa trái phải*/
        align-items: center; /*căn giữa trên dưới*/
        font-size: 19px;
        font-weight: 600;
    }

.article-sub {
    margin-top: 25px;
}

    /*.article-sub .content-left .title-orange {
    color: #d94e09;
    font-size: 22px;
    font-weight: 900;
}
    .article-sub .content-left p:first-child::first-letter {

        color: #000000;
    }*/

    .article-sub .post-heading h3 {
        color: #d94e09;
        font-size: 22px;
        font-weight: 900;
        margin: 34px 15px;
    }

        .article-sub .post-heading h3::first-letter {
            color: #000000;
        }


    .article-sub #left-content .content-1 {
        font-size: 19px;
        font-weight: 600;
        margin-bottom: 30px;
    }

#left-content .black-content {
    content: "";
    /*background-color: #808080;*/
    padding: 15px 15px;
    margin-bottom: 30px;
    background: #CCC;
    filter: alpha(opacity=60); /* IE */
    /*-moz-opacity: 0.6;*/ /* Mozilla */
    /*opacity: 0.6;*/ /* CSS3 */
}

    #left-content .black-content .title-circle {
        font-size: 19px;
        font-weight: 600;
    }

        #left-content .black-content .title-circle::before {
            content: "\2022";
            width: 10px;
            height: 10px;
            display: inline-block;
            color: #d94e09;
            /*content: "";*/
        }

    #left-content .black-content .content-2 {
        font-size: 19px;
        font-weight: 600;
        white-space: pre-line;
        margin-top: -23px;
        line-height: 37px;
    }

#left-content p:last-child {
    font-size: 19px;
    font-weight: 600;
}


/*#region right-content */


#right-content .wrapper {
}

#right-content .image-description img {
    width: 100%;
    height: 100%;
}



/*#endregion end-content-right */

.article-main-2 .post-heading-2 h3 {
    color: #d94e09;
    font-size: 22px;
    font-weight: 900;
    margin: 25px 0;
}

    .article-main-2 .post-heading-2 h3::first-letter {
        color: #000000;
    }




.article-main-2 p {
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 30px;
}








/*#endregion endMain */
